krondor
src/.deps
src/*.o
src/*.a
autom4te.cache/*
*~
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
src/dumpads
src/dumpbmx
src/dumpbok
src/dumpddx
src/dumpfnt
src/dumpgam
src/dumplbl
src/dumpobj
src/dumppal
src/dumpreq
src/dumpscx
src/dumpsnd
src/dumptbl
src/dumpttm
src/dumpwld
src/xbak
src/resourcedemo
src/convertresource